.searchList {
  --search-width: 400px;
  --search-padding: 15px;
  --serch-input-height: 40px;
  width: var(--search-width);
  padding: var(--search-padding);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
}
